Compugem/Connected Services/OrderService/OrderService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfCompugem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfCompugem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDCOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCOrder" nillable="true" type="tns:DCOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCOrder" nillable="true" type="tns:ArrayOfDCOrder" />
  <xs:complexType name="DCOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:DCCustomer" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCOrder" nillable="true" type="tns:DCOrder" />
  <xs:complexType name="DCCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCCustomer" nillable="true" type="tns:DCCustomer" />
  <xs:complexType name="ArrayOfDCOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCOrderDetail" nillable="true" type="tns:DCOrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCOrderDetail" nillable="true" type="tns:ArrayOfDCOrderDetail" />
  <xs:complexType name="DCOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:DCProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCOrderDetail" nillable="true" type="tns:DCOrderDetail" />
  <xs:complexType name="DCProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCProduct" nillable="true" type="tns:DCProduct" />
</xs:schema>